* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background: #f2f2f2;
  position: relative;
}

html {
  scroll-behavior: smooth;
}



/*======== nav ============*/

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 0px 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.logo {
  font-size: 30px;
  color: orange;
  text-decoration: none;
}

.logo:hover {
  color: #000000bb;
  text-decoration: none;

}

.nav {
  position: relative;
  left: 80px;
  font-size: 1.5rem;
  margin-right: 270px;

}

.nav a {
  padding: 5px 15px;
  color: orange;
  font-size: 20px;
  text-decoration: none;
  text-shadow: rgba(0, 0, 10, 0.434) 1px -2px 20px;
}

.nav a:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  text-underline-position: under;
  text-shadow: rgba(255, 136, 0, 0.654) 1px -2px 20px;


}

.nav__search,
.nav__login {
  font-size: 1.5rem;
  color: #f99e66;
  cursor: pointer;
  transition: color .4s;
  text-shadow: rgb(1, 0, 10) 1px -2px 30px;
  text-decoration: none;
}

.nav__search:hover,
.nav__login:hover {
  color: #000000bb;
  text-decoration: none;
  align-items: center;
}

/*======= login dropdown =======*/

.dropdown-one {
  position: relative;
  display: inline-block;
}

.dropdown-one,
.dropdown-content a {
  list-style: none;
  height: 100%;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  padding: 0.5rem 0px;
  margin: 0.3rem 0.1rem;
  background: rgb(249, 178, 85);
  color: black;
  box-shadow: 0 0 50px rgb(5, 2, 0);
  border-radius: 0.5rem;
  font-size: 12px;
  display: none;

}

.dropdown-one:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: black;
  color: #fff;
  border-radius: 0.5rem;
}

/* ... (your existing styles) */


/* ===== search ========*/



.search {
  position: absolute;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: hsla(231, 28%, 90%, 0.1);
  backdrop-filter: blur(24px);
  /*-webkit-backdrop-filter: blur(24px); /* For safari */

  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}

.search__close {
  position: absolute;
  align-items: center;
  top: 2rem;
  left: 50%;
  font-size: 2rem;
  color: hsl(30, 96%, 52%);
  cursor: pointer;
}

.search__form {

  display: flex;
  align-items: center;
  column-gap: .5rem;
  background-color: hsl(31, 90%, 92%);
  box-shadow: 0 8px 32px hsl(31, 90%, 51%);
  padding-inline: 1rem;
  border-radius: rgb(248, 238, 238) 5rem;
  transform: translateY(-1rem);
  transition: transform .4s;
}



.search__icon {
  font-size: 1.25rem;
  color: hsl(30, 96%, 56%);
}

.search__input {
  width: 100%;
  padding-block: 1rem;
  background-color: hsl(31, 90%, 92%);
  color: hsl(230, 12%, 40%);
  border: #f2f2f2;
}

.search__input::placeholder {
  color: hsl(230, 12%, 40%);
}

.show-search {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__form {
  transform: translateY(0);
}

/*=========== section 1 ===========*/

.sec {
  width: 90vw;
  max-width: 1700px;
  margin: 0 auto;
  margin-top: 40px;

}

.sector-one-container {
  position: relative;
  height: 40vh;
  margin: 10px 0;
  background: black;
  border-radius: 30px 50px 500px 50px;
  overflow: hidden;
  z-index: -1;
}

.sector-one-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}

.sector-one-text {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: white;
  margin-right: 250px;
}

.sector-one-text h1 {
  font-size: 3.052rem;
  margin-bottom: 0.5rem;
}

.sector-one-text h4 {
  font-size: 1.563rem;
  margin-bottom: 0.5rem;
}



/* ============= slide =============== */


.categories {
  width: 1800px;
  height: 700px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 50px;
  background-image: url('cata.jpg');
  border-radius: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}

.categories h2 {
  color: #f6f6f6;
  font-size: 75px;
  text-transform: capitalize;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}

.slider {
  width: 100%
}

.slider input {
  display: none;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 350px;
  perspective: 1000px;
  overflow: hidden;
}

.testimonials .item {
  width: 300px;
  padding: 30px;
  border-radius: 5px;
  background-color: #f1f5fc;
  position: absolute;
  border: 1px solid rgb(245, 238, 500);
  top: 0;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.4s;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  user-select: none;
  cursor: pointer;
}

.testimonials .item h3 {
  font-size: 40px;
  margin-bottom: 35px;
  color: white;
}

.testimonials .item img {
  max-width: 100%;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 0;
  right: 10px;
}



.testimonials .item button {
  padding: 10px 20px;
  background-color: #f7981c;
  color: rgb(246, 242, 239);
  border: orange 200px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.testimonials .item button a {

  color: rgb(246, 242, 239);
  text-decoration: none;
}

.testimonials .item button a:hover {

  color: orange;
  text-decoration: none;
}

.testimonials .item button:hover {
  background-color: #fffffff9;
  color: orange;
  border: orange;
}

.testimonials .item .content {
  position: absolute;
  width: 300px;
  height: 220px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  padding: 50px;
  background-color: #0b0b0ba5;
  color: #f9f8f8dc;
  opacity: 0;
  transition: opacity 0.3s;
}

.testimonials .item:hover .content {
  opacity: 1;
}


.dots {
  display: flex;
  justify-content: center;
  align-items: center;

}

.dots label {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff4ec;
  margin: 7px;
  transition-duration: 0.2s;
}

#t-1:checked~.dots label[for="t-1"],
#t-2:checked~.dots label[for="t-2"],
#t-3:checked~.dots label[for="t-3"],
#t-4:checked~.dots label[for="t-4"],
#t-5:checked~.dots label[for="t-5"] {
  transform: scale(2);
  background-color: #fff;
  box-shadow: 0px 0px 0px 3px #dddddd24;
}

#t-1:checked~.dots label[for="t-2"],
#t-2:checked~.dots label[for="t-1"],
#t-2:checked~.dots label[for="t-3"],
#t-3:checked~.dots label[for="t-2"],
#t-3:checked~.dots label[for="t-4"],
#t-4:checked~.dots label[for="t-3"],
#t-4:checked~.dots label[for="t-5"],
#t-5:checked~.dots label[for="t-4"] {
  transform: scale(1.5);
}

#t-1:checked~.testimonials label[for="t-3"],
#t-2:checked~.testimonials label[for="t-4"],
#t-3:checked~.testimonials label[for="t-5"],
#t-4:checked~.testimonials label[for="t-1"],
#t-5:checked~.testimonials label[for="t-2"] {
  transform: translate3d(600px, 0, -180px) rotateY(-25deg);
  z-index: 2;
}

#t-1:checked~.testimonials label[for="t-2"],
#t-2:checked~.testimonials label[for="t-3"],
#t-3:checked~.testimonials label[for="t-4"],
#t-4:checked~.testimonials label[for="t-5"],
#t-5:checked~.testimonials label[for="t-1"] {
  transform: translate3d(300px, 0, -90px) rotateY(-15deg);
  z-index: 3;
}

#t-2:checked~.testimonials label[for="t-1"],
#t-3:checked~.testimonials label[for="t-2"],
#t-4:checked~.testimonials label[for="t-3"],
#t-5:checked~.testimonials label[for="t-4"],
#t-1:checked~.testimonials label[for="t-5"] {
  transform: translate3d(-300px, 0, -90px) rotateY(15deg);
  z-index: 3;
}

#t-3:checked~.testimonials label[for="t-1"],
#t-4:checked~.testimonials label[for="t-2"],
#t-5:checked~.testimonials label[for="t-3"],
#t-2:checked~.testimonials label[for="t-5"],
#t-1:checked~.testimonials label[for="t-4"] {
  transform: translate3d(-600px, 0, -180px) rotateY(25deg);

}

#t-1:checked~.testimonials label[for="t-1"],
#t-2:checked~.testimonials label[for="t-2"],
#t-3:checked~.testimonials label[for="t-3"],
#t-4:checked~.testimonials label[for="t-4"],
#t-5:checked~.testimonials label[for="t-4"],
#t-5:checked~.testimonials label[for="t-5"] {

  z-index: 4;
}

/*=========  feature recipe =============*/



.container .ti-one h2 {
  color: #f88f26;
  font-size: 75px;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 80px;
  text-align: center;
  text-shadow: rgb(0, 0, 0) 1px -2px 70px;

}


/*=============== CARD ===============*/
.container {
  display: grid;
  place-items: center;
  width: 1800px;
  margin-inline: 1.5rem;
  padding-block: 5rem;
  margin-left: 200px;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(48, 22, 3);
  border-radius: 1.5rem;
}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  background-color: hsla(0, 0%, 0%, 0.688);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsl(24, 100%, 48%);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__data a {
  padding: 10px 20px;
  background-color: #f7981c;
  color: rgb(246, 242, 239);
  border: orange 200px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;

  text-decoration: none;
}

.card__data a:hover {
  box-shadow: 0 8px 24px hsl(24, 100%, 48%);
  text-decoration: none;
  background-color: #f4a66652;
  color: rgb(255, 166, 0);
  border: rgb(246, 125, 11);
}

.card__description {
  display: block;
  font-size: .813rem;
  margin-bottom: .25rem;
  color: white;
}

.card__title {
  font-size: 1.25rem;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  margin-bottom: 1rem;
}





/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }

  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }

  50% {
    transform: translateY(-10rem);
  }

  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }

  50% {
    overflow: hidden;
  }
}







/*======= footer =====*/

footer {
  background-color: #4b2e00;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
}



.contact-us {
  margin-top: 20px;
}

.contact-us p {
  margin: 5px 0;
}

.copyright {
  margin-top: 20px;
}



@media (max-width: 1400px) {
  .top {
    padding: 0px 2%;
  }

  .nav {
    margin-right: 10%;
  }

  .sector-one-text {
    left: 30%;
    margin-right: 250px;
    /* Adjusted left position for smaller screens */
  }

  .sector-one-text h1 {
    font-size: 3rem;
    /* Adjusted font size for smaller screens */
  }

  .sector-one-text h4 {
    font-size: 2rem;
    /* Adjusted font size for smaller screens */
  }

  .categories {
    width: 90%;
    height: 50%;
    max-width: 1400px;
    /* Set a maximum width */
    margin: 5% auto;
    /* Center the element and adjust top margin */
  }

  .categories h2 {
    font-size: 5vw;
    margin-top: 10vw;

    text-align: center;
    color: #f6f6f6;
  }

  .testimonials .item {
    width: 80%;
    max-width: 400px;
    margin-top: 50px;

  }

  .testimonials .item h3 {
    font-size: 3vw;
    margin-bottom: 3vw;
    color: white;
  }

  .testimonials .item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0;
    right: 5%;
  }

  .testimonials .item .content {

    width: 101%;
    height: 102%;

  }

  .testimonials .item button {
    padding: 2vw 4vw;
    font-size: 0.99vw;
    margin-top: 0vw;
  }

  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

  }

  .dots label {
    height: 15px;
    width: 15px;
    margin-bottom: 100px;

  }

  /* Responsive styles for h2 */
  .container .ti-one h2 {
    font-size: 4vw;
    margin-bottom: 3vw;
  }

  /* Responsive styles for container and card */
  .container {
    width: 90%;
    margin-inline: auto;
    padding-block: 3rem;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem;
    row-gap: 3.5rem;
  }

  .card__article {
    box-shadow: 0 0 10px rgb(48, 22, 3);
    border-radius: 1.5rem;
  }

  .card__img {
    width: 100%;
    border-radius: 1.5rem;
  }

  .card__data {
    width: 280px;
    bottom: -9rem;
  }

  .card__data a {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
  }

  /* Responsive styles for card description and title */
  .card__description {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .card__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }




}

@media (max-width: 992px) {
  .top {
    flex-direction: column;
    height: auto;
  }

  .logo {
    margin-bottom: 10px;
  }

  .nav {
    position: static;
    left: 0;
    margin: 0;
  }

  .sector-one-text {
    left: 30%;
    margin-right: 250px;
    /* Adjusted left position for smaller screens */
  }

  .sector-one-text h1 {
    font-size: 2rem;
    /* Adjusted font size for smaller screens */
  }

  .sector-one-text h4 {
    font-size: 1rem;
    /* Adjusted font size for smaller screens */
  }

  .categories {
    width: 90%;
    max-width: 992px;
    /* Set a maximum width */
    margin: 5% auto;
    /* Center the element and adjust top margin */

  }

  .categories h2 {
    font-size: 7vw;
    margin-top: 8vw;

    text-align: center;
    color: #f6f6f6;
  }

  /* Responsive styles for testimonials */
  .testimonials .item {
    width: 80%;
    /* Adjust width for smaller screens */
    max-width: 400px;
    padding: 5%;
  }

  .testimonials .item h3 {
    font-size: 9vw;
    margin-bottom: 6vw;

  }

  .testimonials .item img {
    max-width: 100%;

  }

  .testimonials .item .content {

    width: 101%;
    height: 101%;

  }

  .testimonials .item button {
    padding: 4vw 8vw;
    /* Adjust padding for smaller screens */
    font-size: 3vw;

  }

  /* Responsive styles for dots */
  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dots label {
    height: 10px;
    /* Adjust height for smaller screens */
    width: 10px;
    /* Adjust width for smaller screens */

  }

  /* Responsive styles for h2 */
  .container .ti-one h2 {
    font-size: 7vw;
    margin-bottom: 10vw;
  }

  /* Responsive styles for container and card */
  .container {
    width: 90%;
    height: 110%;
    margin-inline: auto;
    padding-block: 3rem;
  }

  .card__container {
    grid-template-columns: repeat(2, 1fr);
    /* Adjust the number of columns for smaller screens */
    column-gap: 1.5rem;
    row-gap: 2rem;
  }

  .card__article {
    box-shadow: 0 0 10px rgb(48, 22, 3);
    height: auto;
  }

  .card__data h2 {
    font-size: 20px;
  }



  .card__img {
    width: 100%;
    border-radius: 1.5rem;
  }

  .card__data {
    width: 80%;
    /* Adjust width for smaller screens */
    height: 90%;
    bottom: -7rem;
  }

  .card__data a {
    padding: 8px 16px;
    /* Adjust padding for smaller screens */
    font-size: 14px;
    margin-top: 8px;
  }

  /* Responsive styles for card description and title */
  .card__description {
    font-size: 4px;
    margin-bottom: 8px;
  }

  .card__title {
    font-size: .5rem;
    margin-bottom: 1rem;
  }

}